@model TravelTripProject.Models.Entities.BlogComment

@{
    ViewBag.Title = "Blog Detayları";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<!DOCTYPE HTML>
<html lang="tr">
<head>
    <title>Blog Detayları | Travel Trip</title>
    <link href="~/weblog/css/bootstrap.css" rel="stylesheet" />
    <link href="~/weblog/css/style.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>


    



    <!-- Blog İçeriği -->
    <div class="single">
        <div class="container">
            <div class="row">
                <h1>&nbsp;&nbsp;Blog Detayı</h1>
                <br />
                <div class="col-md-8 single-main">
                    <div class="single-grid">

                        @if (Model?.value1 != null && Model.value1.Any())
                        {
                            foreach (var item in Model.value1)
                            {
                                <img src="@item.ImageUrl" alt="Blog Resmi" class="img-responsive" style="margin-bottom:20px" />
                                <h3>@item.Title</h3>
                                <p>@item.Description</p>
                            }
                        }
                        else
                        {
                            <p>Bu blog için içerik bulunamadı.</p>
                        }

                    </div>

                    <!-- Yorumlar -->
                    @foreach (var item in Model.value3)
                    {
                        <ul class="comment-list">


                            <li>
                                <img src="~/weblog/images/avatar.png" class="img-responsive" alt="Avatar">
                                <div class="desc">
                                    <p><strong>@item.SenderName</strong>: @item.Content</p>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                           

                        </ul>
                    }
                        <!-- Yorum Ekleme Alanı -->
                        @Html.Action("AddComment", "Blog")

                    </div>

                <!-- Sağ Taraf: Son Bloglar -->
                <div class="col-md-4 side-content">
                    <div class="recent">
                        <h3>Son Bloglarımız</h3>
                        @if (Model?.value2 != null && Model.value2.Any())
                        {
                            <ul>
                                @foreach (var item in Model.value2)
                                {
                                    <li><a href="/Blog/BlogDetail/@item.Id">@item.Title</a></li>
                                }
                            </ul>
                        }
                        else
                        {
                            <p>Yeni blog eklenmedi.</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
