@model TravelTripProject.Models.Entities.Blog
@{
    ViewBag.Title = "CreateBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Blog Ekleme</h2>
<br />
<form class="form-group" method="post">

    @Html.Label("Blog")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />

    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />

    @Html.Label("Açıklama")
    @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
    <br />

    @Html.Label("Resim")
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Ekle</button>
</form>
